*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(231, 231, 231);
}

.nav{
    border: 1px solid black;
    margin: 25px 0px;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    border: 1px solid black;
}

.introduction-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50vw;
    background-color: lightgray;
    border: 1px solid black;
    margin: 15px 0px;
}

.introduction-section h3{
    margin: 0px 10px;
}

.introduction-section p{
    margin: 0px 10px;
}

.introduction-section-image{
    max-width: 50vw;
}


.graphic-design {
    max-width: 60vw;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px 0px;
}

.about-me{
    max-width: 70vw;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    max-width: 85;
    border: 1px solid black;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin: 0px 0.5rem;
}

.my-work{
    border: 1px solid black;
    margin: 25px 0px;
}
.now-learning{
    border: 1px solid black;
    margin: 25px 0px;
}
.social-media{
    border: 1px solid black;
    margin: 25px 0px;
}
.logo-icon{
    max-width: 50px;
}
.contact{
    border: 1px solid black;
    margin: 25px 0px;
}